@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.my-modal {
    .modal-content {
        background-color: $backgroundColor;
        border: 1px solid $borderColor;
        .modal-header {
            border-color: $borderColor;
        }
        .modal-footer {
            border-color: $borderColor;
            button {
                width: unset;
            }
        }
        .contact-list {
            .list-container {
                cursor: pointer;
                background-color: white;
                margin: 5px;
                .list-caption {
                    img {
                        height: 30px;
                        margin-right: 10px;
                    }
                    padding: 5px;
                }
                .list-group-item {
                    border: 0px solid transparent;
                    img {
                        height: 20px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}