@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.login-container {
    * {
        font-family: 'Verdana Bold';
    }

    input,
    button {
        width: 100%;
        border: 1px solid $borderColor;
        outline: none;
    }

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $darkColor;
    @include paddingSize();

    .login-area {
        background-color: $lightColor;
        border: 2px solid $darkColor;
        border-radius: $radiusSize;
        @include responsiveWidth(376px);
        @include centerPosition();

        padding: 0px;
        padding-bottom: 60px;

        .login-header {
            width: 100%;
            padding: 60px 10px;
            background-color: $darkColor;
            border-top-left-radius: $radiusSize - 3;
            border-top-right-radius: $radiusSize - 3;

            img {
                max-width: 100%;
            }
        }

        .login-form {
            @include responsiveWidth(256px);
        }

        .avatar-area {
            @include centerPosition();
        }

        .input-form {
            width: 100%;

            .input-box {
                margin-top: 20px;
                p {
                    margin-top: 10px;
                    margin-bottom: 0;
                }
                input {
                    border-radius: $radiusSize;
                    padding: 3px 10px;
                    color: $darkColor;
                }
            }

            .input-error {
                color: red;
            }

            .button-box {
                margin-top: 20px;

                button {
                    border-radius: $radiusSize;
                    border: 1px solid $darkColor;
                    background-color: $darkColor;
                    color: white;
                    margin-top: 20px;
                }
            }
        }
    }
}