$backgroundColor: rgb(208, 225, 245);
$borderColor: rgb(77, 115, 173);
$radiusSize: 10px;
$paddingSize-lg: 30px;
$paddingSize-sm: 10px;
$messageAreaBorderColor: rgb(66, 66, 66);

$avatarSize-lg: 128px;
$avatarSize-sm: 64px;
$avatarBorderColor: rgb(66, 66, 66);

$headerHeight: 125px;
$darkColor: rgb(0, 52, 153);
$lightColor: rgb(202, 220, 255);